In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('D:\Imarticus Learning\DATASETS\Patient_with_abnormal_bloodpressure.csv')

In [4]:
df.head()

,Patient_Number,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Pregnancy,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,1,11.28,0.90,34,23,1,1.0,0,45961,48071,NaN,2,1,1
1,2,0,9.75,0.23,54,33,1,NaN,0,26106,25333,205.0,3,0,0
2,3,1,10.79,0.91,70,49,0,NaN,0,9995,29465,67.0,2,1,0
3,4,0,11.00,0.43,71,50,0,NaN,0,10635,7439,242.0,1,1,0
4,5,1,14.17,0.83,52,19,0,NaN,0,15619,49644,397.0,2,0,0

In [5]:
df.shape

(2000, 15)

In [6]:
df.isnull().sum()

Patient_Number                      0
Blood_Pressure_Abnormality          0
Level_of_Hemoglobin                 0
Genetic_Pedigree_Coefficient       92
Age                                 0
BMI                                 0
Sex                                 0
Pregnancy                        1558
Smoking                             0
Physical_activity                   0
salt_content_in_the_diet            0
alcohol_consumption_per_day       242
Level_of_Stress                     0
Chronic_kidney_disease              0
Adrenal_and_thyroid_disorders       0
dtype: int64

In [7]:
df.isnull().sum()[df.isnull().sum()>0]

Genetic_Pedigree_Coefficient      92
Pregnancy                       1558
alcohol_consumption_per_day      242
dtype: int64

In [8]:
df=df.drop(['Pregnancy','Patient_Number'],axis=1)

In [9]:
df.isnull().sum()[df.isnull().sum()>0]

Genetic_Pedigree_Coefficient     92
alcohol_consumption_per_day     242
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Blood_Pressure_Abnormality     2000 non-null   int64
 1   Level_of_Hemoglobin            2000 non-null   float64
 2   Genetic_Pedigree_Coefficient   1908 non-null   float64
 3   Age                            2000 non-null   int64
 4   BMI                            2000 non-null   int64
 5   Sex                            2000 non-null   int64
 6   Smoking                        2000 non-null   int64
 7   Physical_activity              2000 non-null   int64
 8   salt_content_in_the_diet       2000 non-null   int64
 9   alcohol_consumption_per_day    1758 non-null   float64
 10  Level_of_Stress                2000 non-null   int64
 11  Chronic_kidney_disease         2000 non-null   int64
 12  Adrenal_and_thyroid_disorders  2000 non-null   int64
dtypes: float64(3), int64(10)
memory usage: 203.2 KB

In [11]:
df.Genetic_Pedigree_Coefficient.value_counts()

0.86    32
0.13    30
0.63    28
0.56    27
0.17    27
        ..
0.78    11
0.91    11
0.16    10
0.15     9
0.65     9
Name: Genetic_Pedigree_Coefficient, Length: 101, dtype: int64

In [12]:
df.Genetic_Pedigree_Coefficient.fillna(df.Genetic_Pedigree_Coefficient.mean(),inplace=True)

In [13]:
df.alcohol_consumption_per_day.value_counts()

253.0    11
401.0    10
302.0    10
144.0    10
485.0     9
         ..
21.0      1
406.0     1
346.0     1
244.0     1
326.0     1
Name: alcohol_consumption_per_day, Length: 488, dtype: int64

In [14]:
df.alcohol_consumption_per_day.fillna(df.alcohol_consumption_per_day.mean(),inplace=True)

In [15]:
df.isnull().sum()[df.isnull().sum()>0]

Series([], dtype: int64)

In [16]:
df.head()

,Blood_Pressure_Abnormality,Level_of_Hemoglobin,Genetic_Pedigree_Coefficient,Age,BMI,Sex,Smoking,Physical_activity,salt_content_in_the_diet,alcohol_consumption_per_day,Level_of_Stress,Chronic_kidney_disease,Adrenal_and_thyroid_disorders
0,1,11.28,0.90,34,23,1,0,45961,48071,251.008532,2,1,1
1,0,9.75,0.23,54,33,1,0,26106,25333,205.000000,3,0,0
2,1,10.79,0.91,70,49,0,0,9995,29465,67.000000,2,1,0
3,0,11.00,0.43,71,50,0,0,10635,7439,242.000000,1,1,0
4,1,14.17,0.83,52,19,0,0,15619,49644,397.000000,2,0,0

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
train_df,test_df=train_test_split(df,test_size=.2)

In [19]:
train_df_x = train_df.iloc[:, 1:]  
train_df_y = train_df.iloc[:, 0]

In [20]:
test_df_x= test_df.iloc[:,1:]
test_df_y= test_df.iloc[:,0]

In [21]:
from sklearn.tree import DecisionTreeClassifier
dec=DecisionTreeClassifier()
dec.fit(train_df_x,train_df_y)

DecisionTreeClassifier()

In [22]:
pred_test=dec.predict(test_df_x)

In [23]:
from sklearn.metrics import confusion_matrix

In [24]:
tab1=confusion_matrix(test_df_y,pred_test)

In [25]:
tab1

array([[192,  24],
       [ 40, 144]], dtype=int64)

In [26]:
from sklearn.metrics import precision_score , recall_score, f1_score, accuracy_score,classification_report

In [27]:
print(classification_report(test_df_y,pred_test))

              precision    recall  f1-score   support

           0       0.83      0.89      0.86       216
           1       0.86      0.78      0.82       184

    accuracy                           0.84       400
   macro avg       0.84      0.84      0.84       400
weighted avg       0.84      0.84      0.84       400

In [ ]:
# In logistic regression the model do good work for class 1 but it is bad for class 0 but in dicision tree model work good 
# for class 1 and also class 0